.plan
    display: flex
    flex-direction: column
    margin-bottom: 100px
    &__title
        color: #010103
        margin: 0 auto
        text-align: center
        h2
            font-family: Rubik, sans-serif
            font-size: 24px
            font-weight: 500
        h3
            font-family: Poppins, sans-serif
            font-size: 42px
            margin: 13px 0 30px
    &__icons
        &__wrapper
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-template-rows: auto
            margin-top: 37px
            padding: 0 30px
        &__box
            padding: 10px 60px
            text-align: center
            img
                height: auto
                width: 170px
            h3
                font-size: 24px
                margin-bottom: 10px
            p
                color: #706f7b
                font-family: Rubik, sans-serif
                font-size: 16px
                line-height: 1.43