.header-pages
    img
        background-color: hsla(0, 0%, 100%, .92)
        position: absolute
        width: 100%
        height: 70vh
        opacity: 0.1
        object-fit: none
    &__text
        color: #010103
        height: 70vh
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
    h3
        font-size: 36px
    p
        font-size: 16px
        font-weight: 600
